{% extends 'bag/base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'bag/css/checkout.css' %}">
{% endblock %}

{% block content %}

<div class="checkout-box">
    <h2>Checkout</h2>

    <form method="POST">
    {% csrf_token %}

    <input type="text" name="name" placeholder="Full Name" required>
    <input type="text" name="phone" placeholder="Mobile Number" required>
    <textarea name="address" placeholder="Delivery Address" required></textarea>

    <!-- PAYMENT MODE -->
    <h3>Payment Method</h3>
    <div class="payment-options">
        <label>
            <input type="radio" name="payment_method" value="COD" required>
            Cash on Delivery
        </label>
        <br>
        <label>
            <input type="radio" name="payment_method" value="ONLINE">
            Online Payment
        </label>
    </div>

    <h3>Total: ₹{{ total }}</h3>

    <button type="submit" class="btn">Place Order</button>
</form>

</div>
{% endblock %}
