{% extends 'bag/base.html' %}
{% load static %}

{% block content %}

<div class="banner">
    <div class="banner-text">
        <h1>Welcome to GreenBag</h1>
        <p>Fresh fruits, vegetables & milk at your doorstep 🛒</p>
    </div>
    <img src="{% static 'bag/images/banner.jpg' %}">
</div>

<h2 class="section-title">Products</h2>

<div class="category-boxes">
    <a href="{% url 'fruits' %}" class="box">
        <img src="{% static 'bag/images/m6.jpg' %}">
        <h3>Fruits</h3>
    </a>

    <a href="{% url 'vegetables' %}" class="box">
        <img src="{% static 'bag/images/a3.jpg' %}">
        <h3>Vegetables</h3>
    </a>

    <a href="{% url 'milk' %}" class="box">
        <img src="{% static 'bag/images/milk2.jpg' %}">
        <h3>Milk</h3>
    </a>
</div>

{% endblock %}
