
.page-title{
    text-align:center;
    margin:20px 0;
}

/* WRAPPER */
.cart-wrapper{
    max-width:900px;
    margin:20px auto;
}

/* CONTAINER */
.cart-container{
    display:flex;
    flex-direction:column;
    gap:20px;
}

/* CART ITEM */
.cart-item{
    display:flex;
    gap:20px;
    padding:15px;
    border:1px solid #ddd;
    border-radius:12px;
    align-items:center;
    background:#fff;
    box-shadow:0 4px 10px rgba(0,0,0,0.05);
}

/* IMAGE */
.cart-img img{
    width:220px;
    height:160px;
    object-fit:cover;
    border-radius:10px;
}

/* INFO */
.cart-info h3{
    margin-bottom:8px;
}

.cart-info p{
    margin-bottom:10px;
}

/* QTY */
.qty-box{
    display:flex;
    align-items:center;
    gap:12px;
    margin-bottom:10px;
}

.qty-btn{
    padding:5px 12px;
    background:#1e40af;
    color:white;
    border-radius:6px;
    text-decoration:none;
    font-weight:bold;
}

/* REMOVE */
.remove-btn{
    display:inline-block;
    background:#dc2626;
    color:#fff;
    padding:6px 14px;
    border-radius:6px;
    text-decoration:none;
}

/* TOTAL */
.cart-total{
    display:flex;
    justify-content:space-between;
    align-items:center;
    border-top:2px solid #000;
    padding-top:15px;
}

.checkout-btn{
    background:#16a34a;
    color:#fff;
    padding:10px 22px;
    border-radius:8px;
    text-decoration:none;
    font-weight:bold;
}

/* EMPTY CART */
.empty-cart{
    display:flex;
    justify-content:center;
    align-items:center;
    height:60vh;
}

.empty-box{
    border:1px solid #eee;
    padding:40px 60px;
    text-align:center;
    border-radius:10px;
    background:#fff;
    box-shadow:0 4px 12px rgba(0,0,0,0.05);
}

.empty-box p{
    font-size:22px;
    margin-bottom:20px;
}

.shop-btn{
    background:#2ecc71;
    color:#fff;
    padding:12px 28px;
    border-radius:6px;
    text-decoration:none;
    font-weight:600;
}